body {
  background-color:rgb(169, 112, 56);
}
h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: bisque;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  background-clip: text;
}
button{
    font-family: "arial";
    padding: 16px;
    box-shadow: inset;
    border-radius: 100cm;
    background-color: rgb(170, 21, 21);
    color: rgb(228, 236, 234);
}
button :hover{
    cursor: pointer;
   
}
h2{
    font-family:Arial, Helvetica, sans-serif

}
p{
    font-family: "arial"
}
